[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
streamlit = "*"
python-dotenv = "*"
langchain = {extras = ["openai"], version = "*"}
langchain-community = "*"
langgraph = "*"
duckduckgo-search = "*"

[dev-packages]

[requires]
python_version = "3.13"
