[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
streamlit = "*"
python-dotenv = "*"
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
langgraph = "*"
duckduckgo-search = "*"
mcp = "*"
langchain-mcp-adapters = "*"
a2a-sdk = "*"
google-adk = "*"
litellm = "*"
crewai = {extras = ["tools"], version = "*"}
crewai-tools = {extras = ["mcp"], version = "*"}
supabase = "*"

[dev-packages]

[requires]
python_version = "3.11"
