[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
streamlit = "*"
python-dotenv = "*"
openai = "*"
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
langchain-mcp-adapters = "*"
langgraph = "*"
langgraph-checkpoint-postgres = "*"
ddgs = "*"
mcp = "*"
a2a-sdk = "*"
google-adk = "*"
litellm = "*"
crewai = {extras = ["tools"], version = "*"}
crewai-tools = {extras = ["mcp"], version = "*"}
supabase = "*"
psycopg = {extras = ["binary"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
